@import "true";
@import "../assert-directions";

@include test-module('Library') {

  @include test('Assert Directions [function]') {
    // Testing single value
    $test: assert-directions(10px);
    $expect: (top: 10px, right: 10px, bottom: 10px, left: 10px);
    @include assert-equal($test, $expect, 'Returns the single value mapped to top, right, bottom and left');

    // Testing two values
    $test: assert-directions(10px 20px);
    $expect: (top: 10px, bottom: 10px, left: 20px, right: 20px);
    @include assert-equal($test, $expect, 'Returns the two values mapped to top/bottom and left/right');

    // Testing three values
    $test: assert-directions(10px 20px 15px);
    $expect: (top: 10px, right: 20px, left: 20px, bottom: 15px);
    @include assert-equal($test, $expect, 'Returns the three values mapped to top, left/right and bottom');

    // Testing four values
    $test: assert-directions(10px 20px 15px 5px);
    $expect: (top: 10px, right: 20px, bottom: 15px, left: 5px);
    @include assert-equal($test, $expect, 'Returns the four values mapped to top, right, bottom, left');
  }
}
